/* login.css */
body {background-color: #222;}
#wrap {
    border:2px solid aqua;
    width: 420px;
    margin: 0 auto;
    padding-top: 100px;
}
#wrap main {}
/* ------------------------------------로고, 탭메뉴 */
#wrap main h1 {
    width: 160px; height: 44px;
    margin:0 auto;
}
#wrap main h1 img {width: 100%;}
#wrap main .tab_menu {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    gap:60px;
    padding: 20px 0 42px 0;
    margin-top: 24px;
}
#wrap main .tab_menu .active {
    border-bottom: 2px solid #1ED760;
}
#wrap main .tab_menu .sign_in {}
#wrap main .tab_menu .sign_up {}
#wrap main .tab_menu *{color:#fff;}
/* -------------------------------------로그인 양식 */
#wrap form {}
#wrap form .id_pw_g {}
#wrap form .id_pw_g #user_id {}
#wrap form .id_pw_g #user_pw {}